@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.shop-table {
    width: fit-content !important;
}

.nav-link, .dropdown-item {
    white-space: nowrap;
}

ul.nav {
    white-space: nowrap;
    overflow-x: auto;
}

ul.nav li {
    display: inline-block;
    float: none;
}
