<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" href="{% static 'favicon/fav.ico' %}">

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block title %}{% endblock %}
  </head>
  <body>
    {% include 'includes/header.html' %}
    <main>
      {% block content %}здесь был контент :{% endblock %}
    </main>
    {% include 'includes/footer.html' %}
  </body>
</html>