{% extends "base.html" %}

{% block title %}
<title>Главная страница</title>
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<div class="px-4 py-5 my-5 text-center">
  <img src="{% static 'img/cat.png' %}" alt="logo" width="300" height="300">
  <h1 class="display-5 fw-bold">{{store_name}}</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pharetra luctus viverra.
      Maecenas eleifend pretium dui eu interdum.
      Donec a ultricies odio.
    </p>
  </div>
</div>
{% endblock %}