{% extends "base.html" %}

{% block title %}
<title>Главная страница</title>
{% endblock %}

{% block content %}
{% load static %}
<div class="px-4 py-5 my-5 text-center">
    <img src="{% static 'img/cat.png' %}" width="300px" alt="" width="200px" height="300px">
    <h1 class="display-5 fw-bold">Some store</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pharetra luctus viverra.
        Maecenas eleifend pretium dui eu interdum.
        Donec a ultricies odio.
      </p>
    </div>
  </div>
{% endblock %}