{% extends "base.html" %}

{% block title %}
<title>Каталог</title>
{% endblock %}

{% block content %}
<h1 class="display-5 fw-bold" style="padding-left: 20px;">Some store</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://dummyimage.com/600x400/c0c0c0/fff.png&text=Item" alt='item'>
      <div class="card-body">
        <h5 class="card-title">Заголовок карточки</h5>
        <p class="card-text">Описание товара</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://dummyimage.com/600x400/c0c0c0/fff.png&text=Item" alt='item'>
      <div class="card-body">
        <h5 class="card-title">Заголовок карточки</h5>
        <p class="card-text">Описание товара</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://dummyimage.com/600x400/c0c0c0/fff.png&text=Item" alt='item'>
      <div class="card-body">
        <h5 class="card-title">Заголовок карточки</h5>
        <p class="card-text">Описание товара</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://dummyimage.com/600x400/c0c0c0/fff.png&text=Item" alt='item'>
      <div class="card-body">
        <h5 class="card-title">Заголовок карточки</h5>
        <p class="card-text">Описание товара</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}