<footer>
    {% load static %}
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <script>
            document.write("Copyright &copy; "+ new Date().getFullYear()+ ". All rights reserved.");
          </script>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="#"><img src="{% static 'img/footer/twitter.svg' %}" alt="twitter"></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><img src="{% static 'img/footer/instagram.svg' %}" alt="instagram"></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><img src="{% static 'img/footer/facebook.svg' %}" alt="facebook"></a></li>
        </ul>
      </footer>
    </div>
</footer>