{% load static %}
<header>
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <div class="container">
    <a href="{% url 'index:index' %}" style="text-align: center; display:block;" class="nav-link tab">
      <img src="{% static 'img/logo/logo.png' %}" width="50">
    </a>
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'index:index' %}" class="nav-link tab lng-home" data-toggle="tab">На главную</a></li>
        <li class="nav-item"><a href="{% url 'catalog:item-list' %}" class="nav-link tab lng-catalog" data-toggle="tab">Список товаров</a></li>
        <li class="nav-item"><a href="{% url 'about:description' %}" class="nav-link tab lng-about" data-toggle="tab">О проекте</a></li>
      </ul>
      <select class="change-lang" style="position: absolute; right: 100px; top: 58px;">
        <option value="ru">Русский</option>
        <option value="en">English</option>
      </select>
    </header>
  </div>
  <script src="{% static 'js/links_activator.js' %}"></script>
  <script src="{% static 'js/lang_switch.js' %}"></script>
</header>