{% load static %}
<div class="container-fluid px-5 mx-auto">
  <div class="row gx-3">
    {% for item in items %}
      <div class="card">
        <h5 class="card-header">{{ item.name }}</h5>
        <div class="card-body">
          <h5 class="card-title">Категория: {{ item.category.name }}</h5>
          <p class="card-text">{{ item.text|safe|truncatewords:10 }}</p>
          <div class="tags" style="margin-bottom: 5px;">
            {% for tag in item.tags.all %}
              <span class="badge rounded-pill text-bg-primary">{{ tag.name }}</span>
            {% endfor %}
          </div>
          <a href="{% url 'catalog:item-detail' item.id %}" class="btn btn-primary">Перейти к описанию</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>