{% load static %}
<div class="card">
  <h5 class="card-header">{{ item_name }}</h5>
  <div class="card-body">
    <h5 class="card-title">Категория: {{ category_name }}</h5>
    <p class="card-text">{{ item_text|safe|truncatewords:10 }}</p>
    <div class="tags" style="margin-bottom: 5px;">
      {% for tag in item_tags.all %}
        <span class="badge rounded-pill text-bg-primary">{{ tag }}</span>
      {% endfor %}
    </div>
    <a href="{% url 'catalog:item-detail' item_id %}" class="btn btn-primary">Перейти к описанию</a>
  </div>
</div>