{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Преимущества</title>
{% endblock %}

{% block content %}
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">О нас</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2">Удобство покупки</h3>
          <p>Наш онлайн-магазин позволяет покупателям делать покупки в любое
            время и из любой точки мира, имея доступ к огромному выбору
            товаров.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2">Низкие цены</h3>
          <p>Вы можете быть уверены, что покупая у нас, вы получаете лучшую
            цену на рынке. Мы работаем напрямую с производителями и
            поставщиками, чтобы убрать посредников и предложить вам оптимальные
            цены на товары.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2">Большой выбор товаров</h3>
          <p>Вашему вниманию представлен один из самых широких ассортиментов
            товаров в интернете. Мы предлагаем тысячи товаров различных
            категорий и брендов, чтобы вы могли выбрать наилучший продукт для
            своих нужд и бюджета.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
