{% extends "base.html" %}

{% block title %}
<title>Обратная связь</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Форма обратной связи</h2>
      <form method="POST">
        {% csrf_token %}
        {% for element in forms %}
          <div class="form-group" style="padding-bottom: 20px">
            {{ element.label }}
            {{ element }}
            {{ element.help_text }}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Отправить</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
